<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width,initial-scale = 1.0">
    <title>Document</title>
</head>
<body>
    <% if (fruits.length > 0) { %>
        <ul>
          <% fruits.forEach(fruit => { %>
            <li><%= fruit %></li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No fruits available.</p>
      <% } %>
    <form action="/addFruit" method = "POST">
        <input type = "text" name = "fruit" placeholder="Enter a Fruit" required>
       
        <button type="submit">Add Fruit</button>
    </form>
    
</body>
</html>